<%= link_to "Back to all posts", posts_path %>
<h2><%= @post.title %> (<%= link_to "edit", edit_post_path(@post) %>)</h2>
<p><%= @post.text %></p>
<small>- <%= @post.author %></small>
app/views/posts/new.html.erb and app/views/posts/edit.html.erb

<%= link_to "Back to this post", post_path(@post) %>

<h2><%= @post.title %></h2>
<p><%= @post.text %></p>
<small>- <%= @post.author %></small>

